<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Bryan Zhong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Bryan Zhong professional website">
    <title>Bryan Zhong Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>

<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Bryan Zhong</h1>
        <nav>
            <a href="../index.html"> Home</a>
            <a href="./cv.html">CV</a>
            <a href="./fun.html">For Fun</a>
            <a href="./contact.html">Contact</a>
        </nav>
    </header>
    <main>
        <h2>Contact Me</h2>
        <form id="contactForm">
            <label for="name">Your Name (Required):</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Your Email (Required):</label>
            <input type="email" id="email" name="email" required>

            <label for="comment">Your Comment (Required):</label>
            <textarea id="comment" name="comment" rows="6" required></textarea>

            <button type="submit" onclick="formValidation()">SEND</button>
            <p id="formError"></p>
        </form>

        <table>
            <tr>
                <th>Contact Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>zzhong3@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>(412)-218-5611</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="http://www.linkedin.com/in/zzybryan">LinkedIn Profile</a></td>
            </tr>
        </table>
        <footer id="copyYear">
        </footer>
    </main>
</body>

</html>
