<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Bryan Zhong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Bryan Zhong professional website">
    <title>Bryan Zhong Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src=".././static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Bryan Zhong</h1>
        <nav>
            <a href="../index.html"> Home</a>
            <a href="./cv.html">CV</a>
            <a href="./fun.html">For Fun</a>
            <a href="./contact.html">Contact</a>
        </nav>
    </header>
    <main>
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Bachelor in Information Systems. August 2024 - May 2028</td>
            </tr>
            <tr>
                <td>Shady Side Academy</td>
                <td>High School Diploma. August 2020 - May 2024</td>
            </tr>
            <tr>
                <td>Harvard University Summur School</td>
                <td>Data Science. July 2023 - August 2023</td>
            </tr>
            <tr>
                <td>Brown University Summur School</td>
                <td>Discrete Mathematics. July 2022 - August 2022</td>
            </tr>
            
        </table>
        <a href=".././static/Bryan_Zhong_Resume.pdf">My resume(pdf)</a>
        <footer id="copyYear">
        </footer>
    </main>
</body>

</html>