<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Bryan Zhong">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Bryan Zhong professional website">
    <title>Your name</title>
    <title>Document</title>
</head>

<body style="font-family: Arial">
    <header style="color:blue; background:lightblue">
        <h1>Bryan Zhong</h1>
        <nav>
            <a href="/index.html"> Home</a>
            <a href="/views/cv.html">CV</a>
            <a href="/views/contact.html">Contact</a>
            <a href="/views/fun.html">For Fun</a>
        </nav>
    </header>
    <main>
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Ultimate Frisbee</li>
            <li>Soccer</li>
            <li>Violin</li>
            <li>Travel</li>
        </ul>
        <footer>@2025 designed and coded by Bryan Zhong</footer>
    </main>
</body>

</html>