*{
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    padding: 5px;
    margin: 5px;
}

@keyframes colorChange {
    0% {
        background-color: #81a5d4;
        transform: scale(1);
    }
    50% {
        background-color: #9ac6ff;
        transform: scale(1.02);
    }
    100% {
        background-color: #81a5d4;
        transform: scale(1);
    }
}

#webname {
    background-color: #81a5d4;
    padding: 15px;
    border-radius: 5px;
    animation: colorChange 3s infinite;
}


nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 10px;
}

nav a:hover {
    color: #81a5d4;
}

nav a.active {
    color: #81a5d4;
    font-weight: 500;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger i {
    font-size: 24px;
    color: black;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: gray;
    color:white;
    width:fit-content
}

tr{
    width: fit-content;
    text-align: center;
}

tr:nth-child(even){
    background-color: lightgray
}

form{
    *{
        display: block;
        margin:auto;
        text-align: center;
    }
    button{
        background:#81a5d4;
        border: none;
        border-radius: 5px;
    }
}

/* #funList {
    display: none;
} */

#showButton {
    background-color: lightgrey;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    border:none;
}

#fullBio {
    display: none;
}

#readMoreBtn, #readLessBtn {
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
}

#item1, #item2, #item3, #item4 {
    width: 40%;
    text-align: left;
}
.funIMG {
    width: 550px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.funVideo {
    height: 200px;
    width: 350px;
    border: none;
}

.container {
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0px 2px 5px darkgray;
    background-color: white;
}

.adviceBtn {
    background-color: #81a5d4;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 12px;
}

.mainLayoutc {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px; 
}

.item1c, .item2c {
    flex: 1;
    text-align: center;
}

.mapFrame {
    width:500px;
    height: 400px;
    border: none;
    border-radius: 10px;
}
